/************ Le header ************/
#connexion{
    padding: 1px 20px 1px 20px;
    border: 2px solid red;
    color: red;
    border-radius: 50px;
}

#inscription{
    margin-top: 5px;
    padding: 1px 20px 1px 20px;
    border: 2px solid red;
    background: rgba(255, 0, 0, 0.685);
    color: white;
    border-radius: 50px;
}


ion-header img{
    height: 70px;
    margin-top: 2px;
}

#filtre{
    width: 100%;
    color: red;
    font-size: 22px;
    font-weight: bold;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/************ les publication ************/
.publication{
    margin-top: 5px;
    padding: 10px;
    border-bottom: 1px solid rgba(3, 53, 216, 0.05);

}

ion-avatar{
    background: red;
    padding: 2px;
    margin: 5px;
    height: 35px;
    width: 35px;
}

ion-avatar img{
    border: 2px solid white;
}

ion-label{
    font-size: 14px!important;
    font-weight: 700;
    color: rgb(44, 24, 24)!important;
    margin-left: 5px;
}

ion-col{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.post_img{
    width: 100%;
}

.flex-button{
    display: flex;
    justify-content: space-between;
}

.flex-button ion-icon{
    font-size: 26px;
    margin: 6px;
    color: #86888f;
}

.insta-text{
    font-size: 13px;
    margin: 0px 6px 4px 6px;
}

